/* Store Items */
.store-items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            width: 100vw - 200px;
            height: 100vh;
            z-index: -1;
            padding: 20px;
            overflow-y: scroll;
        }

        .item {
            background-color: --var(--primary-color);
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 20vw;
            height: 40vh;
            z-index: 1;
        }

        .item img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .item .price {
            margin-top: 10px;
            font-size: 16px;
            color: --var(--dark-color);
            font-weight: bold;
        }
.product-grid {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.product-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1.25rem;
  color: #ff4b5c;
}
