:root {
    --primary-color: #e8e8e8;
    --secondary-color: #a4a4a4;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --store-button: #ff4b5c;
    --store-button-hover: #ff6b7d;
    --primary-company-color: #45a049;

}
/* Initial hidden state for small screens */

/* Ensure the button is hidden on larger screens */
@media screen and (min-width: 769px) {
  .toggle-checkbox-btn {
    display: none;
  }
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: --var(--secondary-color);
  color: --var(--dark-color);
}

/* Hero Section */
.hero-section {
  background: url('/images/background.jpg') no-repeat center center/cover ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
/*landing*/

.main-container {
    background-color: rgba(0, 0, 0, 0.7); /* Black semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    color: white;
    width: 50vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}


.contact-form-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}


.contact-form-container button:hover {
    background-color: --var(--primary-company-color);
}
        .sidebar {
            width: 200px;
            background-color: white;
            padding: 15px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            height: 100vh; /* Make it extend the full height of the viewport */
            position: sticky; /* Keeps it visible when scrolling */
            top: 0;
        }

        .sidebar h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .sidebar label {
            display: block;
            margin-bottom: 8px;
        }

        .main-content {
            top: 0;
            left: 0;
            height: fit-content;
            min-height: 100vh;
            padding: 20px;
        }

.page-container {
    display: flex;
}
#main-page{
    display: flex;
    flex-direction: column;
}
.faq {
	position: relative;
    bottom: 0;
    background-color: --var(--dark-color);
    color: white;
    align-items: center;
    text-align: center;
    z-index: 100;
    border-radius: 8px;
    margin-top: 5px;
    min-height: 10vh;
}
.faq p{
   background-color: #888;
}
