<main>
        <section id="our-mission">
            <h2>Who we are</h2>
            <p>
                Over the past 5 and half years of operations we have our products in over 700 stores, across the United States.
            </p>
        </section>
        <section id="our-mission">
            <h2>Our Mission</h2>
            <p>
                Our Mission is to provide the best quality products, to help you show the world you love where you live.
            </p>
        </section>

        <section id="our-values">
            <h2>Our Values</h2>
            <ul>
                Arcadian Outfitters is a family run business, that values family, community and the great outdoors.
                <li>Family: We believe in doing the right thing, always.</li>
                <li>Community: Continuously pushing the boundaries to create better solutions.</li>
                <li>Outdoors: Putting our customers at the center of everything we do.</li>
            </ul>
        </section>

        <section id="our-team">
            <h2>Meet Our Team</h2>
            <p>
                Our team is composed of dedicated professionals with a looking to deliver phenomenal products and services.
            </p>
        </section>

    </main>
