  <style>


        p {
            margin-bottom: 20px;
            text-align: center;
        }

        .bullet-points {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: left;
        }

        .bullet-points li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            width: 80%;
            margin: auto;
        }

    </style>

<div style="text-align: center; margin-top: 50px;">
    <h1>Impact on Credit</h1>
    <p></p>

    <h2>About Our Partnership</h2>
    <ul class="bullet-points">
        <li style="width: 80%; margin: auto;">point 1</li>
        <li style="width: 80%; margin: auto;">point 2</li>
        <li style="width: 80%; margin: auto;">point 3</li>
        <li style="width: 80%; margin: auto;">point 4</li>
    </ul>

</div>
