<div class="container">
  <h1>Pricing and fees</h1>
  <ul>
    <li>Simple and Transparent Property Management</li>
  </ul>
  <ul>
    <li>Our management fee is 9% of rental income, with a leasing fee of 25% of one month's rent. There are no sign-up fees, admin fees, vacancy fees, advertising fees or lease renewal fees.
            <br>
            <br>
    We have chosen a structure that is fair and that aligns our shared goals of high quality, long term, reliable leasing of your property.</li>
  </ul>

  <h1>Maintenance and Repairs</h1>
  <ul>
    <li>68 Property Management's in-house repairs and maintenance are billed at $40 per hour during normal business hours (M-F 9am-5pm S 8am-12pm), and $50 per hour for after hours services with a minimum 1 hour charge.</li>
  </ul>
  <ul>
    <li>When skilled trades or specialty work is required by an outside vendor, a management fee of 10% is applied to all managed outside work.</li>
    <li>68 Property Management has a diverse portfolio of reliable, skilled contractors with preferred pricing for our customers.</li>
  </ul>
</div>

<style>
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #a4a4a4;
  }

  .container ul {
    padding-left: 20px;
    margin: 0;
  }

  .container li {
    padding: 10px;
    border-bottom: 3px solid #ccc;
  }
</style>
